<?xml version="1.0" encoding="UTF-8"?>
<Properties>
	<sourceFolder>C:\A</sourceFolder>
	<patternsFile>rules.xml</patternsFile>
	<logFile>log.txt</logFile>
	<deleteIfExists>true</deleteIfExists>
	<deleteIfNoMatch>false</deleteIfNoMatch>
	<emailJarLocation>C:\A\EmailSender\emailsender.jar</emailJarLocation>
	<emailConfigurationLocation>C:\A\EmailSender\configuration.txt</emailConfigurationLocation>
	<errorEmailSendTo>some@email.xxx</errorEmailSendTo>
</Properties>